:root {font-size: 16px; }

body {
  margin: 20px auto;
  text-align: center;
}

.box {
  opacity: 0.7;
}

.highlighted {
  background-color: cornflowerblue;
}

.special-header {
  background-color: cadetblue;
}

.important {
  opacity: 1;
}

.footer__content {
  font-size: 1.4rem;
}